<div>
    <h2 data-translate="dulichApp.tour.home.title">Tours</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tour.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="dulichApp.tour.home.createLabel">
                        Create new Tour
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="dulichApp.tour.nameCompany">Name Company</span></th>
                    <th><span data-translate="dulichApp.tour.linkCompany">Link Company</span></th>
                    <th><span data-translate="dulichApp.tour.avatar">Avatar</span></th>
                    <th><span data-translate="dulichApp.tour.phone">Phone</span></th>
                    <th><span data-translate="dulichApp.tour.serviceTour">Service Tour</span></th>
                    <th><span data-translate="dulichApp.tour.price">Price</span></th>
                    <th><span data-translate="dulichApp.tour.content">Content</span></th>
                    <th><span data-translate="dulichApp.tour.place">Place</span></th>
                    <th><span data-translate="dulichApp.tour.hotel">Hotel</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tour in vm.tours track by tour.id">
                    <td><a ui-sref="tour-detail({id:tour.id})">{{tour.id}}</a></td>
                    <td>{{tour.nameCompany}}</td>
                    <td>{{tour.linkCompany}}</td>
                    <td>
                        <a ng-if="tour.avatar" ng-click="vm.openFile(tour.avatarContentType, tour.avatar)">
                            <img data-ng-src="{{'data:' + tour.avatarContentType + ';base64,' + tour.avatar}}" style="max-height: 30px;" alt="tour image"/>
                        </a>
                        <span ng-if="tour.avatar">{{tour.avatarContentType}}, {{vm.byteSize(tour.avatar)}}</span>
                    </td>
                    <td>{{tour.phone}}</td>
                    <td>{{tour.serviceTour}}</td>
                    <td>{{tour.price}}</td>
                    <td>{{tour.content}}</td>
                    <td>
                        <span ng-repeat="place in tour.places">
                            <a class="form-control-static" ui-sref="place-detail({id: place.id})">{{place.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="hotel in tour.hotels">
                            <a class="form-control-static" ui-sref="hotel-detail({id: hotel.id})">{{hotel.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tour-detail({id:tour.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tour.edit({id:tour.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tour.delete({id:tour.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
