
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTourLabel" data-translate="dulichApp.tour.home.createOrEditLabel">Create or edit a Tour</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tour.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tour.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dulichApp.tour.nameCompany" for="field_nameCompany">Name Company</label>
            <input type="text" class="form-control" name="nameCompany" id="field_nameCompany"
                    ng-model="vm.tour.nameCompany"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dulichApp.tour.linkCompany" for="field_linkCompany">Link Company</label>
            <input type="text" class="form-control" name="linkCompany" id="field_linkCompany"
                    ng-model="vm.tour.linkCompany"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAvatar($file, vm.tour)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="dulichApp.tour.avatar" for="field_avatar">Avatar</label>
            <div>
                <img data-ng-src="{{'data:' + vm.tour.avatarContentType + ';base64,' + vm.tour.avatar}}" style="max-height: 100px;" ng-if="vm.tour.avatar" alt="tour image"/>
                <div ng-if="vm.tour.avatar" class="help-block clearfix">
                    <span class="pull-left">{{vm.tour.avatarContentType}}, {{vm.byteSize(vm.tour.avatar)}}</span>
                    <button type="button" ng-click="vm.tour.avatar=null;vm.tour.avatarContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAvatar($file, vm.tour)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="avatar" id="field_avatar"
                    ng-model="vm.tour.avatar"
                    maxbytes="50000000" />
            <input type="hidden" class="form-control" name="avatarContentType" id="field_avatarContentType"
                    ng-model="vm.tour.avatarContentType" />
            <div ng-show="editForm.avatar.$invalid">
                <p class="help-block"
                   ng-show="editForm.avatar.$error.maxbytes" data-translate="entity.validation.maxbytes" translate-value-max="50000000">
                    This field cannot be more than 50000000.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dulichApp.tour.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.tour.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dulichApp.tour.serviceTour" for="field_serviceTour">Service Tour</label>
            <input type="text" class="form-control" name="serviceTour" id="field_serviceTour"
                    ng-model="vm.tour.serviceTour"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dulichApp.tour.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.tour.price"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dulichApp.tour.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.tour.content"
                    required ng-maxlength="10000" />
            <div ng-show="editForm.content.$invalid">
                <p class="help-block"
                    ng-show="editForm.content.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.content.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="10000">
                    This field cannot be longer than 10000 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="dulichApp.tour.place" for="field_place">Place</label>
            <select class="form-control" id="field_place" multiple name="place" ng-model="vm.tour.places" ng-options="place as place.id for place in vm.places track by place.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="dulichApp.tour.hotel" for="field_hotel">Hotel</label>
            <select class="form-control" id="field_hotel" multiple name="hotel" ng-model="vm.tour.hotels" ng-options="hotel as hotel.id for hotel in vm.hotels track by hotel.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
