
.dropdown1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.06)) repeat scroll 0 0 #F2F2F2;
    border-color: #FFFFFF #F7F7F7 #F5F5F5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    display: inline-block;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 170px;
}
.dropdown1:before, .dropdown1:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #888888 rgba(0, 0, 0, 0);
    border-image: none;
    border-style: dashed;
    border-width: 4px;
    content: "";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 0;
    z-index: 2;
}
.dropdown1:before {
    border-bottom-style: solid;
    border-top: medium none;
    padding-top: 2px;
    bottom: 2px;
}
.dropdown1:after {
    border-bottom: medium none;
    border-top-style: solid;
    margin-top: 12px;
}
.dropdown-select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none;
    border-radius: 0;
    color: #62717A;
    font-size: 15px;
    height: 40px;
    line-height: 14px;
    margin: 0;
    padding: 6px 6px 6px 6px;
    position: relative;
    text-shadow: 0 1px #FFFFFF;
    width: 130%;
}
.dropdown-select:focus {
    color: #394349;
    outline: 2px solid #49AFF2;
    outline-offset: -2px;
    width: 100%;
    z-index: 3;
}
.dropdown-select > option {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
    padding: 6px 6px;
    text-shadow: none;
}
.dropdown-dark {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)) repeat scroll 0 0 #444444;
    border-color: #111111 #0A0A0A #000000;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
}
.dropdown-dark:before {
    border-bottom-color: #AAAAAA;
}
.dropdown-dark:after {
    border-top-color: #AAAAAA;
}
.dropdown-dark .dropdown-select {
    background: none repeat scroll 0 0 #444444;
    color: #AAAAAA;
    text-shadow: 0 1px #000000;
}
.dropdown-dark .dropdown-select:focus {
    color: #CCCCCC;
}
.dropdown-dark .dropdown-select > option {
    background: none repeat scroll 0 0 #444444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
} 
#seach{
  border-style: solid;
    border-width: 1px;

}
#top{
    width: 100%;
    height: 600px;
    background-size: cover;
}
